* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div {
  /* background-color: black; */
  display: flex;
  justify-content: center;
}
h1 {
  color: black;
  /* background-color: aqua; */
}
p {
  color: rgb(188, 39, 39);
  background-color: blueviolet;
}
